<!DOCTYPE html>
<html>
  <head>
<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body class="container">
    <h1> Welcome to <%= name %> </h1>
    <button onclick="location.href = '/login';" id="myButton" >Login here</button>
  </body>
</html>
